<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<button (click)="loadCourses()">Load Courses</button>

<div>
  <div class="courses" #container>
    @for (course of courses; track course.id; let index = $index; let count =
    $count; let first = $first; let odd = $odd) {
    <h1 class="title">Count: {{ count }}</h1>
    <course-card
      (courseSelected)="onCourseSelected($event)"
      [course]="course"
      [index]="index"
      [class.is-first]="first"
      [class.is-last]="$last"
      [class.is-even]="$even"
      [class.is-odd]="odd"
      #cardRefs
    >
      <div #cardsTotal>
        <h5>Course total: 5</h5>
      </div>
    </course-card>
    } @empty {
    <div class="empty">
      <p>There are no courses to display</p>
    </div>
    }
  </div>
</div>
<router-outlet></router-outlet>
